/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/images/upload/1733700870.jpg
public/images/upload/1733700975.jpg
public/images/upload/1733701084.jpg
public/images/upload/1733702691.jpg
public/images/upload/1733774503.png
public/images/upload/1733774536.png
